.header{

    color: white;
    font-weight: bold;
    background-color: #4C1D95;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    
}

.header-two{

    padding: 0rem;
    color: white;
    text-decoration: none;
}

.ordered-list{

text-align: right;

}

.link{
    color: white;
    text-decoration: none;

}


.inline-item-list{

    display: inline;
    padding: 1rem;
    margin-left: auto;
    font-size: large;
}

.ordered-list{

    margin: auto;
    padding: 2rem;
}

.heading{

    text-align: center;
    padding: 5rem;
    font-size: x-large;

}

.heading-two{

    color: #475569;
}

.heading-three{

    color: #4C1D95;
}

.section{
    background-color:#E0F2FE;
    padding: 2rem;
    margin: 5rem;
    text-align: center;
    font-size: larger;

}

.section-link{

    background-color: #4C1D95;
    border-radius: 1.5rem;
    font-size: larger;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    
    
}

.section-link2{

    border-style:inset ;
    color:blueviolet;
    border-radius: rem;
    text-decoration: none;
    font-size: larger;
    border-radius: 1.5rem;
    padding: 0.3rem;
}


.footer{
    padding: 1rem;
        background-color: #4C1D95;
        border-top-right-radius: 1rem;
    }
    
    
    .footer-heading{
    color: white;
    text-align: center;
        
    }
    
    .inline-footer{
    
        display: inline;
        padding: 1rem;
        color: white;
        
        
        
    }
    
    
    .sites{
    
        color: white;
        text-decoration: none;
        margin-right: 1.5rem;
        
    }
    .footer-align{
    
        text-align:center;
        font-size: larger;
        padding-right: 1rem;
    }

